<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.clish.course.mapper.UserClassMapper">

	<insert id="insertReservation">
		INSERT
		INTO RESERVATION 
		VALUES (
			#{reservationIdx}
			, #{userIdx}
			, #{reservationMembers}
			, #{reservationClassDate}
			, now()
			, #{classIdx}
			, 1
		)
	</insert>
	
	<select id="selectUser" resultType="com.itwillbs.clish.user.dto.UserDTO">
		SELECT
			user_idx
		FROM
			USER
		WHERE
			user_id = #{userId}
	</select>
	
	<select id="selectClass" resultType="com.itwillbs.clish.course.dto.ClassDTO">
		SELECT *
		FROM 
			CLASS
		WHERE 
			class_type = #{classType}
			<if test="categoryIdx != null">
			AND
			category_idx LIKE CONCAT('%', #{categoryIdx}, '%')
			</if>
	</select>

</mapper>























