<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.clish.myPage.mapper.MyPageMapper">

	<!-- 유저 정보 불러오기 -->
<!-- 	<select id="selectUserInfo" resultType="UserDTO"> -->
	<select id="selectUserInfo" resultType="com.itwillbs.clish.user.dto.UserDTO">
		SELECT *
		FROM USER
		WHERE user_id = #{userId}
	</select>
	
	<select id="checkRepName" resultType="com.itwillbs.clish.user.dto.UserDTO">
		SELECT *
		FROM USER
		WHERE user_rep_name = #{userRepName}
	</select>
	
	<select id="checkPhoneNumber" resultType="com.itwillbs.clish.user.dto.UserDTO">
		SELECT *
		FROM USER
		WHERE user_phone_number = #{userPhoneNumber}
	</select>
	
	<!--  유저정보 수정 -->
	<update id="updateUserInfo">
		UPDATE USER
		SET
			user_name = #{userName},
			user_password = #{userPassword},
			user_rep_name = #{userRepName},
			<if test="newEmail != null and newEmail != ''">
			user_email = #{newEmail},
			</if>
			user_gender = #{userGender},
			user_phone_number = #{userPhoneNumber},
			user_postcode = #{userPostcode},
			user_address1 = #{userAddress1},
			user_address2 = #{userAddress2}
		WHERE
			user_id = #{userId}
	</update>
	
	<!-- 예약정보 불러오기 -->
	<select id="selectAllReservationInfo" resultType="com.itwillbs.clish.myPage.dto.ReservationDTO">
		SELECT *
		FROM 
			RESERVATION
		WHERE
			user_idx = #{user.userIdx}
		ORDER BY 
			(reservation_status = 1) DESC, reservation_com
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	<!-- 예약상세정보불러오기 -->
	<select id="selectOneReservationInfo" resultType="com.itwillbs.clish.myPage.dto.ReservationDTO">
		SELECT *
		FROM
			RESERVATION
		WHERE
			reservation_idx = #{reservationIdx}
	</select>
	
	<!-- 예약 클래스 정보 불러오기 -->
	<select id="selectOneClassInfo" resultType="com.itwillbs.clish.course.dto.ClassDTO">
		SELECT *
		FROM
			CLASS
		WHERE
			class_idx = #{classIdx}
	</select>
	
	<!-- 예약상세정보 종합 불러오기 -->
	<select id="ReservationDetailInfo" resultType="map">
	SELECT
		c.class_title
		, c.class_price
		, c.class_member
		, c.start_date
		, c.end_date
		, r.reservation_idx
		, r.user_idx
		, r.reservation_class_date
		, r.reservation_com
		, r.reservation_members
		, (c.class_member - IFNULL(
		  (	SELECT 
				SUM(r2.reservation_members)
			FROM 
				RESERVATION r2
			WHERE
				r2.class_idx = c.class_idx
		  ), 0)) AS remainSeats
	FROM
		RESERVATION r
	JOIN
		CLASS c
	ON
		c.class_idx = r.class_idx
	WHERE
		r.reservation_idx = #{reservationIdx}	
	</select>
	
	<!-- 예약정보 삭제 -->
	<delete id="deleteReservation">
	DELETE FROM
		RESERVATION
	WHERE
		reservation_idx = #{reservationIdx}
	</delete>
	
	<!-- 예약정보 수정 -->
	<update id="updateReservationInfo">
		UPDATE RESERVATION
		set
			reservation_class_date = #{reservationClassDate}
			, reservation_members = #{reservationMembers}
		WHERE
			reservation_idx = #{reservationIdx}
	</update>
	
	<!-- 결제정보 조회 -->
	<select id="selectAllPaymentInfo" resultType="map"> 
		SELECT
			p. *
		FROM
			RESERVATION r
		JOIN
			PAYMENT_INFO p ON r.reservation_idx = p.reservation_idx
		WHERE
			r.user_idx = #{user.userIdx}
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<!-- 탈퇴 조회 -->
	<update id="withdraw">
		UPDATE USER
		SET
			user_status = 3
		WHERE
			user_id = #{userId}
	</update>
	
	<select id="selectReservationCount" resultType="int">
		SELECT COUNT(*)
		FROM RESERVATION
		WHERE user_idx = #{userIdx}
	</select>
	
	<select id="selectPaymentCount" resultType="int">
		SELECT COUNT(*)
		FROM PAYMENT_INFO
		WHERE reservation_idx IN
			(SELECT reservation_idx
				FROM RESERVATION
				WHERE user_idx = #{userIdx}	)
	</select>
	
	<select id="selectCountInquery" resultType="int">
		SELECT COUNT(*)
		FROM INQUERY
		WHERE user_idx = #{userIdx}
			AND inquery_type = 1

	</select>
	
	<select id="selectAllInquery" resultType="com.itwillbs.clish.myPage.dto.InqueryDTO">
		SELECT *
		FROM INQUERY
		WHERE user_idx = #{user.userIdx}
			AND inquery_type = 1
		ORDER BY inquery_status, inquery_datetime DESC
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<resultMap type="com.itwillbs.clish.myPage.dto.InqueryDTO" id="InqueryDTOWithfileDTOListResultMap">
		<id property="inqueryIdx" column="inquery_idx" />
		<result property="userIdx" column="user_idx" />
		<result property="inqueryTitle" column="inquery_title" />
		<result property="inqueryDetail" column="inquery_detail" />
		<result property="inqueryAnswer" column="inquery_answer" />
		<result property="classIdx" column="class_idx" />
		<result property="inqueryType" column="inquery_type" />
		<result property="inqueryDatetime" column="inquery_datetime" />
		<result property="inqueryAnswerDatetime" column="inquery_answer_datetime" />
		<result property="inqueryModifyDatetime" column="inquery_modify_datetime" />
		<result property="inqueryStatus" column="inquery_status" />
		<result property="classTitle" column="class_title" />
		
		<collection property="fileList" ofType="com.itwillbs.clish.common.file.FileDTO">
			<id property="fileId" column="file_id" />
			<result property="idx" column="idx" />
			<result property="originalFileName" column="original_file_name" />
			<result property="realFileName" column="real_file_name" />
			<result property="subDir" column="sub_dir" />
			<result property="fileSize" column="file_size" />
			<result property="contentType" column="content_type" />
		</collection>
	</resultMap>
	
	<select id="selectOneInquery" resultMap="InqueryDTOWithfileDTOListResultMap">
		SELECT
			i.inquery_idx,
			i.user_idx,
			i.inquery_title,
			i.inquery_detail,
			i.inquery_answer,
			i.class_idx,
			i.inquery_type,
			i.inquery_datetime,
			i.inquery_answer_datetime,
			i.inquery_modify_datetime,
			i.inquery_status,
			c.class_title,
			f.file_id,
			f.original_file_name,
			f.real_file_name,
			f.sub_dir,
			f.file_size,
			f.content_type
		FROM INQUERY i
		LEFT JOIN CLASS c ON i.class_idx = c.class_idx
		LEFT JOIN FILE f
		ON i.inquery_idx = f.idx
		WHERE i.inquery_idx = #{inqueryIdx}
	</select>
	
	<delete id="deleteInquery">
		DELETE
		FROM INQUERY
		WHERE inquery_idx = #{inqueryIdx}
	</delete>
	
	<update id="updateInquery">
		UPDATE INQUERY
		SET
			inquery_title = #{inqueryTitle}
			, inquery_detail = #{inqueryDetail}
			, inquery_modify_datetime = now()
		WHERE
			inquery_idx = #{inqueryIdx}
		
	</update>
	
	<select id="selectCountClassQ" resultType="int">
		SELECT COUNT(*)
		FROM INQUERY
		WHERE user_idx = #{userIdx}
			AND inquery_type = 2
	</select>
	
	<select id="selectAllClassQ" resultType="com.itwillbs.clish.myPage.dto.InqueryDTO">
		SELECT I.*, C.class_title
		FROM INQUERY I
		JOIN CLASS C ON I.class_idx = C.class_idx
		WHERE I.user_idx = #{user.userIdx}
			AND I.inquery_type = 2
		ORDER BY I.inquery_status, I.inquery_datetime DESC
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<select id="selectOneClassQ" resultMap="InqueryDTOWithfileDTOListResultMap"> 
		SELECT
			i.inquery_idx,
			i.user_idx,
			i.inquery_title,
			i.inquery_detail,
			i.inquery_answer,
			i.class_idx,
			i.inquery_type,
			i.inquery_datetime,
			i.inquery_answer_datetime,
			i.inquery_modify_datetime,
			i.inquery_status,
			c.class_title,
			f.file_id,
			f.original_file_name,
			f.real_file_name,
			f.sub_dir,
			f.file_size,
			f.content_type
		FROM INQUERY i
		LEFT JOIN CLASS c ON i.class_idx = c.class_idx
		LEFT JOIN FILE f
		ON i.inquery_idx = f.idx
		WHERE i.inquery_idx = #{inqueryIdx}
	</select>
	
	<select id="selectCountNotification" resultType="int">
		SELECT count(*)
		FROM NOTIFICATION
		WHERE user_idx = #{userIdx}
	</select>
	
	<select id="selectAllNotification" resultType="com.itwillbs.clish.admin.dto.NotificationDTO">
		SELECT *
		FROM NOTIFICATION
		WHERE user_idx = #{user.userIdx}
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<select id="selectUncompleteReviewCount" resultType="int">
		SELECT count(*)
		FROM RESERVATION
		WHERE user_idx = #{userIdx}
			AND reservation_status = 2
			AND CURDATE() >= reservation_class_date -- 예약한 날짜가 오늘이거나 과거일때 
	</select>
	
	<select id="selectAllUncompleteReview" resultType="map">
		SELECT r.*,
				c.class_title,
				c.category_idx,
				c.class_type
		FROM RESERVATION r
		LEFT JOIN CLASS c
			ON r.class_idx = c.class_idx
		LEFT JOIN REVIEW rev 
			ON r.reservation_idx = rev.reservation_idx
		WHERE r.user_idx = #{user.userIdx}
			AND r.reservation_status = 2
			AND CURDATE() >= r.reservation_class_date
			AND rev.reservation_idx IS NULL
		LIMIT
			#{startRow}
			, #{listLimit}
	</select>
	
	<select id="selectOneReservationClassInfo" resultType="map">
		SELECT r.*,
			   c.class_title
		FROM RESERVATION r
		LEFT JOIN CLASS c
			ON r.class_idx = c.class_idx
		WHERE
			r.reservation_idx = #{reservationIdx}
	</select>
	
	<insert id="insertReview">
	INSERT INTO REVIEW (
	    review_idx,
	    reservation_idx,
	    user_idx,
	    class_idx,
	    review_title,
	    review_detail,
	    review_score,
	    review_created_at,
	    review_reported_count
	  ) VALUES (
	  	#{reviewIdx},
	    #{reservationIdx},
	    #{userIdx},
	    #{classIdx},
	    #{reviewTitle},
	    #{reviewDetail},
	    #{reviewScore},
	    NOW(),
	    DEFAULT
	    )
	</insert>
	
</mapper>


























