<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itwillbs.clish.admin.mapper.AdminCustomerMapper">
	<!-- 공지사항 목록 -->
	<select id="selectNotices" resultType="com.itwillbs.clish.admin.dto.SupportDTO">
		SELECT *
		FROM SUPPORT
		WHERE
			support_category = '공지사항'
		ORDER BY
			support_created_at ASC
	</select>
	
	<!-- SUPPORT 테이블 내용 등록 -->
	<insert id="insertSupport">
		INSERT INTO
			SUPPORT
		VALUES (
			#{supportIdx}
			, #{supportTitle}
			, #{supportDetail}
			, now()
			, #{supportCategory}
			, #{supportAttach}
		)
	</insert>
	
	<!-- SUPPORT 테이블 상세정보 -->
	<select id="selectSupport" resultType="com.itwillbs.clish.admin.dto.SupportDTO">
		SELECT *
		FROM SUPPORT
		WHERE
			support_idx = #{idx}
	</select>
	
	<!-- SUPPORT 테이블 수정 -->
	<update id="updateSupport">
		UPDATE
			SUPPORT
		SET
			support_title = #{supportTitle}
			, support_detail = #{supportDetail}
			, support_category = #{supportCategory}
			, support_attach = #{supportAttach}
		WHERE
			support_idx = #{supportIdx}
	</update>
	
	<!-- SUPPORT 테이블 삭제 -->
	<delete id="deleteSupport">
		DELETE 
		FROM
			SUPPORT
		WHERE
			support_idx = #{idx}
	</delete>
	
	<!-- faq 목록 -->
	<select id="selectFaqList" resultType="com.itwillbs.clish.admin.dto.SupportDTO">
		SELECT *
		FROM
			SUPPORT
		WHERE
			support_category != '공지사항'
	</select>
	
	<!-- 문의 리스트 -->
	<resultMap id="inquiryJoinUserMap" type="com.itwillbs.clish.admin.dto.InquiryJoinUserDTO">
		<id property="inquiry.inqueryIdx" column="inquery_idx"/>
		<result property="classIdx" column="class_idx"/>
		<result property="inqueryType" column="inquery_type"/>
		<result property="userName" column="user_name"/>
		<association property="inquiry" javaType="com.itwillbs.clish.myPage.dto.InqueryDTO">
			<id property="inqueryIdx" column="inquery_idx"/>
			<result property="userIdx" column="user_idx"/>
			<result property="inqueryTitle" column="inquery_title"/>
			<result property="inqueryDetail" column="inquery_detail"/>
			<result property="inqueryAnswer" column="inquery_answer"/>
			<result property="inqueryDatetime" column="inquery_datetime"/>
			<result property="inqueryAnswerDatetime" column="inquery_answer_datetime"/>
			<result property="inqueryModifyDatetime" column="inquery_modify_datetime"/>
			<result property="inqueryStatus" column="inquery_status"/>
		</association>
	</resultMap>
	<select id="selectInquiryList" resultMap="inquiryJoinUserMap">
		SELECT 
			i.inquery_idx
			, i.user_idx
			, i.inquery_title
			, i.inquery_datetime
			, i.inquery_answer_datetime
    		, i.inquery_modify_datetime
			, i.inquery_status
			, i.inquery_type
			, i.class_idx
			, u.user_name
		FROM 
			INQUERY i
		LEFT JOIN
			USER u
		ON
			i.user_idx = u.user_idx
		WHERE
			i.inquery_type = 1
	</select>
	
	<!-- 문의 상세 -->
	<select id="selectInquiry" resultMap="inquiryJoinUserMap">
		SELECT 
			i.inquery_idx
			, i.user_idx
			, i.inquery_title
			, i.inquery_detail
			, i.inquery_datetime
			, i.inquery_answer
			, i.inquery_answer_datetime
    		, i.inquery_modify_datetime
			, i.inquery_status
			, i.inquery_type
			, i.class_idx
			, u.user_name
		FROM 
			INQUERY i
		LEFT JOIN
			USER u
		ON
			i.user_idx = u.user_idx
		WHERE
			i.inquery_idx = #{idx}
		AND 
			i.inquery_type = 1
	</select>
	
	<!-- 문의 답변 -->
	<update id="updateInquiry">
		UPDATE
			INQUERY
		SET
			inquery_answer = #{inqueryAnswer}
			, inquery_answer_datetime = now()
			, inquery_status = 2
		WHERE
			inquery_idx = #{idx}
	</update>
</mapper>  
  
  
  
  
  
  
  
  
  
  
  